.project-card-container {
    position: relative;
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.project-card-img-container {
    border-radius: 12px;
    background-color: var(--secondary-background-color);
    transition: transform 0.3s ease, filter 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-card-img-container:hover {
    transform: translateY(-10px);
    filter: var(--brightness-color);
}

.project-card-img {
    width: 75%;
    height: 69%;
    background-color: var(--text-color);
    border-radius: 12px;
}

.project-card-tag-container {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    width: 50%;
    height: max-content;
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.project-card-tag {
    width: max-content;
    padding: 0 10px;
    height: 37px;
    border-radius: 100px;
    font-size: 12px;
    font-weight: bold;
    color: var(--text-color);
    background-color: var(--primary-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-card-overview {
    padding-left: 32px;
    padding-right: 32px;
    height: 90%;
    overflow-y: scroll;
    >h2 {
        margin: 0 0 10px;
    }

    >p {
        margin: 0;
    }
}

.project-card-overview::-webkit-scrollbar {
    width: 4px;
}

.project-card-overview::-webkit-scrollbar-track {
    background: transparent;
}

.project-card-overview::-webkit-scrollbar-thumb {
    background: var(--secondary-background-color);
    cursor: pointer;
}

.project-card-info {

    >hr {
        border: 0;
        height: 1px;
        max-width: 100%;
        margin: 10px auto;
    }

    >p {
        margin: 0;
    }
}

.project-card-btns {
    position: absolute;
    bottom: 8px;
    display: flex;
    gap: 20px;

    >button  {
       border: 0;
        background-color: transparent;
        color: #B2D630;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        border-bottom: 2px solid #B2D630;
        padding: 3px 0;
        cursor: pointer;
        font-size: 14px;
        transition: transform 0.4s ease, filter 0.3s ease;
    }

    >button:hover {
        transform: translateY(-4px);
        filter: var(--brightness-color);
    }
}

@media (max-width: 1024px) {

    .project-card-container {
        height: 420px;
    }

    .project-card-overview {
        height: 85%;
        padding-left: 22px;
        padding-right: 22px;
    }

    .project-card-info {

        >hr {
            margin: 10px auto;
        }
    }

    .project-card-btns {
        bottom: 10px;
        >button  {
            padding: 2px 0;
            font-size: 12px;
        }
    }

    .project-card-tag {
        height: 32px;
    }
}

@media (max-width: 768px) {

    .project-card-container {
        min-height: 700px;
        height: max-content;
        max-height: 877px;
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
        gap: 4px;
        width: 98%;
    }

    .project-card-overview {
        width: 100%;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 10px;
    }

    .project-card-btns {
        margin-top: 30px;
        >button  {
            padding: 2px 0;
            font-size: 12px;
        }
    }
}

@media (max-width: 425px) {

    .project-card-info {

        >hr {
            margin: 8px auto;
        }
    }

    .project-card-tag {
        height: 24px;
        font-size: 8px;
    }
}