.experience-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    color: var(--text-color);
    background-color: var(--primary-background-color);
}

.experience-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 7%;
    height: auto;
}

.experience-header {
    width: 600px;
}

.experience-header > h1 {
    font-size: 5.5vw;
    line-height: 100%;
    padding: 0;
    margin: 0;
}

.experience-header > p {
    font-size: 18px;
    line-height: 150%;
    font-weight: normal;
}

.experience-timeline-container {
    margin: 0 auto;
    width: max-content;
    height: 1240px;
    position: relative;
}

.experience-timeline {
    position: relative;
    width: 4px;
    height: 100%;
    background-color: var(--nav-text-color);
}

.experiences {
    position: absolute;
    height: 100%;
    left: -13px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.experience {
    position: relative;
    height: 30px;
    width: 30px;
    border-radius: 100px;
    background-color: var(--nav-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.experience-card {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--nav-text-color);
    border-radius: 5px;
    width: 460px;
    height: 280px;
}

.experience-details {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: max-content;
}

.experience-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.experience-date {
    font-size: 12px;
    color: rgb(128, 128, 128);
}

@media (max-width: 1153px) {

}

@media (max-width: 1024px) {
    .experience-header {
        width: 450px;
    }

    .experience-header > p {
        font-size: 16px;
        line-height: 120%;
    }
}

@media (max-width: 768px) {
    .experience-header {
        width: 80%;
    }

    .experience-header > h1 {
        font-size: 43px;
    }

    .experience-header > p {
        font-size: 14px;
    }
}

@media (max-width: 425px) {
    .experience-header {
        width: 100%;
    }

    .experience-header > h1 {
        font-size: 38px;
    }
}
