.experience-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    color: var(--text-color);
    background-color: var(--primary-background-color);
}

.experience-container {
    padding: 0 7%;
    height: auto;
}

.experience-header {
    width: 100%;
}

.experience-timeline-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.timeline {
    position: relative;
    margin: 30px auto;
    padding: 20px 0;
    width: 100%;
}

.timeline .vertical-line {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 6px;
    background-color: var(--secondary-background-color);
    transform: translateX(-50%);
    z-index: -1;
}

@media (max-width: 1024px) {

    .timeline {
        margin: 20px auto;
    }

    .experience-header {
        width: 450px;
    }

    .experience-header {
        width: 80%;
    }
}

@media (max-width: 768px) {

    .experience-header {
        width: 100%;
    }

    .timeline {
        margin: 10px auto;
        padding: 10px 0;
    }

    .timeline .vertical-line {
        left: 0;
    }
}

@media (max-width: 425px) {

    .experience-header {
        width: 100%;
    }

}