input, textarea {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    font: inherit;
    color: inherit;
    background: none;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 14px;
    width: 100%;

    >button {
        width: 140px;
        height: 54px;
        background-color: #B2D630;
        border: 0;
        border-radius: 100px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
    }

    >button:hover {
        background-color: rgba(149, 169, 54, 0.8);
    }
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 95%;

    >label {
        font-size: 14px;
        color: var(--nav-text-color);
    }

    >input {
        width: 100%;
        height: 51px;
        border: 0;
        border-radius: 4px;
        background-color: var(--secondary-background-color);
        color: var(--text-color);
        font-size: 16px;
        padding: 10px;
        box-sizing: border-box;
    }

    >textarea {
        width: 100%;
        height: 156px;
        border: 0;
        border-radius: 4px;
        background-color: var(--secondary-background-color);
        color: var(--text-color);
        font-size: 16px;
        padding: 10px;
        box-sizing: border-box;
        resize: none;
    }
}

@media (max-width: 768px) {

    .contact-form {
        gap: 12px;

        >button {
            width: 120px;
            height: 44px;
            font-size: 12px;
        }
    }

    .form-group {
        width: 100%;
    }

    >label {
        font-size: 12px;
    }

    >input {
        height: 34px;
        font-size: 14px;
        padding: 8px;
    }

    >textarea {
        height: 148px;
        font-size: 14px;
        padding: 8px;
    }
}

@media (max-width: 425px) {

    .contact-form {

        >button {
            width: 100px;
            height: 40px;
        }
    }

    >label {
        font-size: 10px;
    }

    >input {
        height: 30px;
        font-size: 14px;
    }

    >textarea {
        height: 140px;
    }
}