.home-wrapper {
    position: relative;
    width: 100%;
    height: max-content;
    max-height: 100dvh;
    padding-top: 96px;
    bottom: 10px;
    color: var(--text-color);
    background-color: var(--primary-background-color);
}
.home-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 0 7%;
    max-width: 100%;
    margin-top: 60px;
}

.profile-desc {
    width: 50%;
     >h1 {
         font-size: 7.5vw;
         line-height: 90%;
         padding: 0;
         margin: 0;
     }
    >p {
        font-size: 18px;
        line-height: 150%;
    }
}

.profile-contact-btns {
    width: max-content;
    display: flex;
    align-items: center;
    gap: 12px;
    > button {
        background-color: #D3E97A;
        height: 54px;
        min-width: 163px;
        padding: 0 25px;
        border: 0;
        border-radius: 100px;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
        position: relative;
        text-align: left;
    }

    > button .circle {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        width: 12px;
        height: 12px;
        background-color: #000;
        border-radius: 50%;
        transition: all 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        > span {
            display: none;
            transition: all 0.3s ease;
            color: white;
        }
    }

    > button:hover .circle {
        width: 38px;
        height: 38px;
        right: 10px;

        > span {
            display: block;
        }
    }

    > button:hover {
        background-color: rgba(149, 169, 54, 0.8);
    }
}

.contact-icons {
    min-width: 54px;
    min-height: 54px;
    background-color: transparent;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 1px solid var(--text-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.contact-icons:hover {
    background-color: rgba(175, 175, 175, 0.4);
}

.profile-pic-container {
    background-color: #F9FAFB;
    width: 500px;
    height: 600px;
    border-radius: 16px;
}

@media (max-width: 1024px) {

    .profile-pic-container {
        width: 47%;
        height: 520px;
    }

    .profile-desc {
        width: 48%;
        >h1 {
            font-size: 8vw;
        }
        >p {
            font-size: 16px;
            line-height: 120%;
        }
    }

    .profile-contact-btns {
        gap: 10px;
        > button {
            height: 50px;
            min-width: 148px;
            padding: 0 15px;
            font-size: 15px;
        }

        > button .circle {
            position: absolute;
            right: 15px;
            width: 10px;
            height: 10px;
        }

        > button:hover .circle {
            width: 30px;
            height: 30px;
        }
    }

    .contact-icons {
        min-width: 50px;
        min-height: 50px;
    }

}

@media (max-width: 768px) {

    .home-wrapper {
        padding-top: 66px;
    }

    .home-container {
        margin-top: 30px;
        flex-direction: column;
    }


    .profile-desc {
        width: 100%;
        >h1 {
            font-size: 7vw;
        }
        >p {
            font-size: 14px;
            line-height: 110%;
        }
    }

    .profile-pic-container {
        width: 343px;
        max-height: 400px;
    }
}

@media (max-width: 425px) {

    .home-wrapper {
        padding-top: 48px;
    }

    .home-container {
        gap: 20px;
    }

    .profile-desc {
        >h1 {
            font-size: 35px;
        }
    }

    .profile-contact-btns {
        gap: 10px;
        > button {
            height: 30px;
            min-width: 120px;
            padding: 0 10px;
            font-size: 14px;
        }

        > button .circle {
            position: absolute;
            right: 10px;
            width: 8px;
            height: 8px;
        }

        > circle >span >svg {
            font-size: small;
        }

        > button:hover .circle {
            width: 26px;
            height: 26px;
            right: 5px;
        }
    }

    .contact-icons {
        min-width: 40px;
        min-height: 40px;
        >svg {
            font-size: 25px;
        }
    }

    .profile-pic-container {
        width: 100%;
        max-height: 380px;
    }
}