.App {
  position: relative;
  min-height: 100dvh;
  max-width: 1920px;
  margin: 0 auto;
  background-color: var(--primary-background-color);
}

hr {
  background-color: #484848;
  color: #484848;
  border: 0;
  height: 1px;
  max-width: 98%;
  margin: 60px auto;
}

p {
  color: var(--paragraph-color);
}

h1 {
  font-family: "Bebas Neue", Arial, sans-serif;
  letter-spacing: 1px;
}